.nav {
  ul {
    display: flex;
    align-items: center;

    li {
      margin-right: 1.6rem;

      &:last-child {
        margin-right: 0;
      }

      a {
        font: var(--font-16-24-reg-inter);
      }
    }
  }
}
