.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 1.6rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font: var(--font-16-24-reg-inter);
  }
}
