.button {
  padding: 2rem 4.9rem;
  color: var(--color-white);
  font: var(--font-16-24-bold-mont);
  background-color: var(--color-light-blue);
  border-radius: 7rem;
  transition: background-color var(--transition);

  @include mq(lg, min) {
    &:hover {
      background-color: #839bff;
    }
  }

  &:active {
    background-color: #506deb;
  }

  @include mq(sm) {
    padding: 1.6rem 4.5rem;
  }

  &--white {
    color: var(--color-light-blue);
    background-color: var(--color-white);

    @include mq(lg, min) {
      &:hover {
        background-color: #e2e8ff;
      }
    }

    &:active {
      background-color: #a3b4f5;
    }
  }
}
