section.section.faq
  .site-container.faq__container
    .faq__block
      h2.faq__heading.site-heading
        | Нас часто спрашивают — мы отвечаем
    .faq__block
      ul.accordion__list
        li.accordion__item
          .accordion.js-accordion
            button.accordion__head.js-drop-menu-btn
              span.accordion__head-text
                | Как легально вывести сотрудников за штат?
              span.accordion__head-icon
            .accordion__content.js-drop-menu-container
              .accordion__content-inner
                p
                  | Какой процесс в бизнесе не нуждается в квалифицированных сотрудниках?
                  | Всем компаниям необходимы хорошие специалисты, но не все имеют
                  | возможность содержать огромный штат персонала. По этой причине
                  | многие украинские представители бизнеса пользуются услугами
                  | внештатников и передают бизнес-процессы на обслуживание
                  | компаний-подрядчиков.
        li.accordion__item
          .accordion.js-accordion
            button.accordion__head.js-drop-menu-btn
              span.accordion__head-text
                | Как легально вывести сотрудников за штат?
              span.accordion__head-icon
            .accordion__content.js-drop-menu-container
              .accordion__content-inner
                p
                  | Какой процесс в бизнесе не нуждается в квалифицированных сотрудниках?
                  | Всем компаниям необходимы хорошие специалисты, но не все имеют
                  | возможность содержать огромный штат персонала. По этой причине
                  | многие украинские представители бизнеса пользуются услугами
                  | внештатников и передают бизнес-процессы на обслуживание
                  | компаний-подрядчиков.
        li.accordion__item
          .accordion.js-accordion
            button.accordion__head.js-drop-menu-btn
              span.accordion__head-text
                | Как легально вывести сотрудников за штат?
              span.accordion__head-icon
            .accordion__content.js-drop-menu-container
              .accordion__content-inner
                p
                  | Какой процесс в бизнесе не нуждается в квалифицированных сотрудниках?
                  | Всем компаниям необходимы хорошие специалисты, но не все имеют
                  | возможность содержать огромный штат персонала. По этой причине
                  | многие украинские представители бизнеса пользуются услугами
                  | внештатников и передают бизнес-процессы на обслуживание
                  | компаний-подрядчиков.
