section.callback-section
  picture
    source(media="(max-width: 767px)" srcset="assets/images/form-circle.svg")
    img(src="assets/images/form-bg.svg" alt="Давайте обсудим вашу задачу" class="callback-section__img")
  .site-container
    h2.callback-section__heading.site-heading.js-anim-fade-out(data-intersection-ratio="0.1")
      | Давайте обсудим вашу задачу
    form.callback-section__form.js-anim-fade-out(data-intersection-ratio="0.1" data-need-validation)
      .callback-section__form-container
        label.input-label.callback-section__label
          span.input-label__text Имя
          input(type="text" class="input" name="name" placeholder="Ваше имя" data-parsley-required)
        label.input-label.callback-section__label
          span.input-label__text Номер телефона
          input(type="text" class="input js-phone-mask" name="phone" placeholder="+7 (___) ___-__-__" data-parsley-required data-parsley-phone)
        label.input-label.callback-section__label
          span.input-label__text Сообщение
          textarea(class="textarea" name="text" placeholder="Напишите нам")
      .callback-section__form-btn-wrapper
        button.button.button--white
          | Отправить
        .agreement
          | Нажимая на кнопку «Отправить» вы соглашаетесь с #[a(heref="/") политикой конфиденциальности] и #[a(href="/") правилами обработки персональных данных]
