section.help.js-anim-fade-out
  .site-container
    h2.help__heading.site-heading
      | С чем мы помогаем
    .help__container
      .help__item
        .help-card
          span.help-card__tag
            | Скоро
          .help-card__icon-wrapper
            img(src="assets/images/help/icon1.svg" alt="Кадровый учет")
            h4
              | Кадровый учет
          p
            | Вы полностью избавляетесь от головной боли кадрового учета,
            | Мы забираем на себя прием и увольнение сотрудников,
            | оформление больничных и отпускных. Оформим все
            | необходимые документы и самостоятельно подадим
            | уведомление в органы.
      .help__item
        .help-card
          .help-card__icon-wrapper
            img(src="assets/images/help/icon1.svg" alt="Кадровый учет")
            h4
              | Кадровый учет
          p
            | Вы полностью избавляетесь от головной боли кадрового учета,
            | Мы забираем на себя прием и увольнение сотрудников,
            | оформление больничных и отпускных. Оформим все
            | необходимые документы и самостоятельно подадим
            | уведомление в органы.
