section.intro
  .site-container.intro__container
    img(src="assets/images/intro/intro-img.svg" class="intro__img" alt="Выводим персонал за штат")
    h1.intro__heading
      | Выводим персонал за штат #[span за 1 день]
    p.intro__text
      | и экономим до 97 286 рублей в год с каждого cотрудника
    .intro__btn-wrapper
      button.button
        | Обсудить задачу
      span.intro__btn-text
        | и получить расчет экономии для вашего бизнеса

section.shield.section
  .site-container.shield__container
    h2.shield__heading
      | Легально снимаем риски несоблюдения&nbsp;правил миграционного учета и трудоустройства сотрудников
