main.page-main.main
  include intro.pug
  include advantages.pug
  .grey-bg.section
    include slider.pug
    include shield.pug
    include prices.pug
    include help.pug
  include faq.pug
  include form-section.pug
