section.prices.js-anim-fade-out(data-intersection-ratio="0.1")
  .site-container.prices__container
    h2.prices__heading.site-heading
      | Гибкие цены и&nbsp;скидки

    ul.prices__list
      li.prices__item
        article.prices-card
          span.prices-card__tag Тариф
          h4.prices-card__legend
            | Стартовый
          p.prices-card__legend-text
            | до 10 сотрудников

          .prices-card__price 3 500 ₽
          p.prices-card__legend-text.prices-card__prices
            | 36 000 ₽
            span.prices-card__legend-text.prices-card__old-price 42 000₽
          p.prices-card__legend-text
            | за 12 месяцев
          button.button.prices-card__btn
            | Выбрать тариф
      li.prices__item
        article.prices-card
          span.prices-card__tag Тариф
          h4.prices-card__legend
            | Средний
          p.prices-card__legend-text
            | от 10 сотрудников

          .prices-card__price 3 000 ₽
          p.prices-card__legend-text.prices-card__prices
            | 36 000 ₽
            span.prices-card__legend-text.prices-card__old-price 42 000₽
          p.prices-card__legend-text
            | за 12 месяцев
          button.button.prices-card__btn
            | Выбрать тариф
      li.prices__item
        article.prices-card
          span.prices-card__tag Тариф
          h4.prices-card__legend
            | Корпоративный
          p.prices-card__legend-text
            | Учтём все требования

          .prices-card__price от 2 000 ₽
          p.prices-card__legend-text
            | в месяц
          button.button.prices-card__btn
            | Выбрать тариф
        .prices-card__sub-text.prices-card__legend-text
          | +20% к базовой стоимости при работе с НДС.


section.prices-include.section.js-anim-fade-out(data-intersection-ratio="0.1")
  .site-container
    h3.prices-include__heading.site-heading
      | Что входит в стоимость
    .prices-include__container
      .prices-include__col
        ul.prices-include__list
          li.prices-include__item
            | Уплата налогов и обязательных отчислений уже включены в стоимость.
          li.prices-include__item
            | Аудит документов и кадровый учет сотрудников.
          li.prices-include__item
            | Непрерывное сопровождение Вашего бизнеса и сотрудников персональным менеджером
          li.prices-include__item
            | Бесплатный выезд курьера на подписание и оформление сотрудников
          li.prices-include__item
            | Контроль изменений в законодательстве и обеспечение соответствия процессов и документов
      .prices-include__col
        .prices-include__card(style={'background-image': 'url(assets/images/sherlock-bg.svg)'})
          .prices-include__card-legend
            | Уже пришла проверка?
          .prices-include__card-text
            | Оставьте заявку и наши менеджеры свяжуться с вами в течении 10 минут
          button.button.button--white.prices-include__card-btn
            | Оставить заявку
