section.section.results
  .site-container
    .results__heading-container
      .results__heading-block
        h2.results__heading.site-heading
          | Все для результата
      .results__heading-block
        .results__text
          p
            | Прозрачный и легкий процесс вывода персонала за штат от одного дня.
          p
            | Мы работаем в Москве и всех городах МО, Санкт-Петербурге и ЛО, Краснодаре, Воронеже, Туле и в других регионах.
    ul.results-steps
      li.results-steps__item-line
        span.results-steps__item-line-inner
      li.results-steps__item
        .results-steps__block
          .results-steps__legend #[span этап]
        .results-steps__block
          h4.results-steps__heading
            | Выберите правильного партнера
          .results-steps__content
            p
              | По закону 116 ФЗ услугу аутстваффинга могут
              | предоставлять только аккредитованные компании.
              | Нашу аккредитацию можно #[a(href="/") проверить на сайте Роструда]
      li.results-steps__item
        .results-steps__block
          .results-steps__legend #[span этап]
        .results-steps__block
          h4.results-steps__heading
            | Свяжитесь с нами
          .results-steps__content
            p
              | Любым удобным способом:
            .contacts
              a(href="tel:+74951526268" class="tel") +7 (495) 152-62-68
              a(href="mailto:v@outstaff.moscow" class="mail") v@outstaff.moscow
            .contacts-btn__wrapper
              button.button.button--small
                | Оставить заявку
              ul.socials
                li.socials__item
                  a.socials__link(href="/")
                    img(src="assets/images/wt.svg" width="18" height="18" alt="")
                li.socials__item
                  a.socials__link(href="/")
                    img(src="assets/images/tg.svg" width="18" height="18" alt="")
      li.results-steps__item
        .results-steps__block
          .results-steps__legend #[span этап]
        .results-steps__block
          h4.results-steps__heading
            | Бесплатный аудит
          .results-steps__content
            p
              | По закону 116 ФЗ услугу аутстваффинга могут
              | предоставлять только аккредитованные компании.
              | Нашу аккредитацию можно #[a(href="/") проверить на сайте Роструда]
      li.results-steps__item
        .results-steps__block
          .results-steps__legend #[span этап]
        .results-steps__block
          h4.results-steps__heading
            | Заключение договора
          .results-steps__content
            p
              | По закону 116 ФЗ услугу аутстваффинга могут
              | предоставлять только аккредитованные компании.
              | Нашу аккредитацию можно #[a(href="/") проверить на сайте Роструда]
      li.results-steps__item
        .results-steps__block
          .results-steps__legend #[span этап]
        .results-steps__block
          h4.results-steps__heading
            | Сопровождение вашего бизнеса
          .results-steps__content
            ul
              li Контролируем сроки продления разрешений и напоминаем сотрудникам о продлении.
              li Контролируем сроки продления разрешений и напоминаем сотрудникам о продлении.
              li Контролируем сроки продления разрешений и напоминаем сотрудникам о продлении.
