section.callback.section
  .site-container
    .callback__container
      h3.callback__heading
        | Получите бесплатную консультацию
      .callback__btn-wrapper
        button.button.button--white
          | Обсудить задачу
        .callback__btn-text
          | Проведем аудит вашего штата за один час
      img(src="assets/images/man.svg" alt="Человек" class="callback__img")

