section.feautures.js-feautures-swiper-parent
  .site-container.feautures__container
    .feautures__container-col
      .feautures__line
    .feautures__container-col
      .swiper.feautures__swiper.js-feautures-swiper
        .swiper-wrapper
          .swiper-slide.feautures__item
            h2
              | Сократите #[br] расходы на 32%
            p
              | При зарплате 23 508 рублей (МРОТ), вы платите 10 108 рублей налогов,
              | а если делать это через нас, то сумма составит от 2000 рублей в месяц.
            p
              | То есть ваша экономия 8108 рублей с каждого сотрудника каждый месяц
              | или 97 296 рублей в год. За счет передачи кадрового делопроизводства
              | нам на аутсорс наши клиенты в среднем экономят 11 366 рублей на
              | каждом сотруднике ежемесячно.
          .swiper-slide.feautures__item
            h2
              | Мигрант без трудового договора – нелегал
            p
              | Любая ошибка и нарушение в трудоустройстве грозит бизнесу огромными штрафами
            ul
              li за работу без патента или работника без разрешения на работу
              li за работу не по профессии
              li за иностранца с документами, у которых истек срок действия
              li за не уведомление МВД
            p
            | – штраф от 400 000 р до приостановки деятельности на три месяца.
            | С нами вы полностью защищены от этих рисков.
          .swiper-slide.feautures__item
            h2
              | Забота и защита ваших сотрудников
            p
              | Официальный трудовой договор с нашей компанией позволит вашему сотруднику:
            ul
              li получить/продлить временную регистрацию,
              li получить новый патент на работу без выезда за границу на основании трудового договора и ходатайства от работодателя (от нас),
              li получить бесплатно полис ОМС (как у граждан России) и прикрепиться к удобной поликлинике.
              li претендовать на получение статусов РВП И ВНЖ на основании законного трудового договора, а после и гражданства РФ.
        .feautures__nav
          .site-pagination
          .site-nav
            button.site-nav__btn.js-slider-btn-prev
              +icon-mono("arrow-right")(class="site-nav__btn-icon" width="56" height="24")
            button.site-nav__btn.js-slider-btn-next
              +icon-mono("arrow-right")(class="site-nav__btn-icon" width="56" height="24")
