-
  menu_nav = [
    "Наши цены", "Схема работы", "Ваша выгода", "Вопрос — ответ"
  ]

.menu.js-main-menu
  .menu__content.site-container
    .menu__content-scrollable
      ul.menu__nav
        for item in menu_nav
          li.menu__item
            a(href="#prices")= item
      button.callback-phone__btn.menu__tel Заказать звонок

      .company__links
        .company__links-item
          a.company__iconed-link(href="tel:+74951526268")
            img(src="assets/images/phone-white.svg" width="18" height="18" alt="")
            | +7 (495) 152-62-68
          a.company__iconed-link(href="mailto:v@outstaff.moscow")
            img(src="assets/images/pin-white.svg" width="18" height="18" alt="")
            | v@outstaff.moscow
        .company__links-item
          .company__iconed-link
            img(src="assets/images/mail-white.svg" width="18" height="18" alt="")
            | 119180, Москва, ул. Большая Полянка, д. 23 стр. 1, ком. 2/19

      ul.socials.menu__socials
        li.socials__item
          a.socials__link(href="/")
            img(src="assets/images/wt-white.svg" width="18" height="18" alt="")
        li.socials__item
          a.socials__link(href="/")
            img(src="assets/images/tg-white.svg" width="18" height="18" alt="")
        li.socials__item
          a.socials__link(href="/")
            img(src="assets/images/mail-white.svg" width="18" height="18" alt="")
