-
  menu_nav = [
    "Наши цены", "Схема работы", "Ваша выгода", "Вопрос — ответ"
  ]

.menu.js-main-menu
  .menu__content.site-container
    .menu__content-scrollable
      ul.menu__nav
        for item in menu_nav
          li.menu__item
            a(href="./")= item
      button.callback-phone__btn.menu__tel Заказать звонок

      .company__links
        .company__links-item
          a.company__iconed-link(href="tel:+74951526268")
            +icon-mono("phone")(class="company__iconed-link-icon" width="24" height="24")
            | +7 (495) 152-62-68
          a.company__iconed-link(href="mailto:v@outstaff.moscow")
            +icon-mono("mail")(class="company__iconed-link-icon" width="24" height="24")
            | v@outstaff.moscow
        .company__links-item
          .company__iconed-link
            +icon-mono("pin")(class="company__iconed-link-icon" width="24" height="24")
            | 119180, Москва, ул. Большая Полянка, д. 23 стр. 1, ком. 2/19

      ul.socials.menu__socials
        li.socials__item
          a.socials__link(href="/")
            +icon-mono("wt")(class="socials__icon _stroke" width="18" height="18")
        li.socials__item
          a.socials__link(href="/")
            +icon-mono("tg")(class="socials__icon" width="18" height="18")
        li.socials__item
          a.socials__link(href="/")
            +icon-mono("mail")(class="socials__icon" width="18" height="18")
