.intro {
  padding: 6.6rem 0 17.5rem;
  background-color: var(--color-grey);

  @include mq(md) {
    padding: 2.6rem 0 10.5rem;
  }

  @include mq(sm) {
    padding: 3.2rem 0 4.8rem;
  }

  &__container {
    position: relative;
  }

  &__img {
    position: absolute;
    top: 0;
    right: -3rem;
    width: 49.3rem;
    height: 53.2rem;
    object-fit: contain;

    @include mq(custom, max, 1366) {
      right: 0;
    }

    @include mq(xl) {
      right: 3rem;
      width: 39.3rem;
      height: 43.2rem;
    }

    @include mq(md) {
      width: 29.3rem;
      height: 33.2rem;
    }

    @include mq(sm) {
      display: none;
    }
  }

  &__heading {
    max-width: 68.7rem;
    margin-bottom: var(--offset-24);
    font: var(--font-72-80-mont);

    span {
      color: var(--color-light-blue);
    }

    @include mq(md) {
      max-width: 50.7rem;
      font: var(--font-47-52-mont);
    }

    @include mq(sm) {
      margin-bottom: 1.2rem;
      font: var(--font-38-44-mont);
    }
  }

  &__text {
    max-width: 42.1rem;
    margin-bottom: 6.6rem;
    font: var(--font-24-32-inter);

    @include mq(sm) {
      margin-bottom: 3.2rem;
      font: var(--font-16-24-reg-inter);
    }
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;

    @include mq(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__btn-text {
    display: block;
    max-width: 24.9rem;
    margin-left: var(--offset-24);
    font: var(--font-16-24-reg-inter);

    @include mq(sm) {
      margin-top: 1.2rem;
      margin-left: 0;
    }
  }
}
