.footer {
  padding: 6rem 0;
  color: var(--color-white);
  background-color: var(--color-dark-blue);

  @include mq(sm) {
    padding: 3.2rem 0;
  }

  &__logo {
    display: block;
    width: 100%;
    max-width: 35.3rem;
    margin-right: auto;

    img {
      width: 100%;
    }

    @include mq(sm) {
      max-width: 23.5rem;
      margin-bottom: 3.3rem;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3.2rem;

    @include mq(sm) {
      flex-direction: column;
      margin-bottom: 2.4rem;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    padding-top: 2.4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.17);

    @include mq(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link-auto {
    margin-right: 2.4rem;
    margin-left: auto;

    @include mq(sm) {
      margin: 0;
    }
  }

  &__text {
    color: var(--color-dark-grey);
    font: var(--font-16-24-reg-inter);

    @include mq(sm) {
      margin-bottom: var(--offset-8);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.company {
  &__links {
    display: flex;

    @include mq(custom, max, 520) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__links-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5.6rem;

    &:last-child {
      margin-right: 0;
    }

    @include mq(md) {
      margin-right: 1.6rem;
    }

    @include mq(sm) {
      margin-right: 0;
      margin-bottom: 1.2rem;
    }
  }

  &__iconed-link {
    display: flex;
    align-items: flex-start;
    max-width: 30.2rem;
    margin-bottom: var(--offset-8);
    font: var(--font-16-24-reg-inter);

    &-icon {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.2rem;
      color: currentcolor;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    @include mq(sm) {
      font: var(--font-14-20-reg-inter);
    }
  }
}
