/* stylelint-disable selector-class-pattern */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: var(--header-height);
  padding-top: 2.4rem;
  transition: background-color var(--transition);

  &--bg {
    background-color: var(--color-grey);
  }

  &.menu-is-open {
    background-color: transparent;

    .logo__black {
      display: none;
    }

    .logo__white {
      display: block;
    }
  }

  @include mq(sm) {
    display: flex;
    align-items: center;
    padding-top: 0;
  }

  &__row {
    display: flex;
    align-items: flex-start;
  }

  &__logo {
    margin-right: 4.8rem;

    @include mq(sm) {
      max-width: 16.8rem;
    }
  }

  &__socials {
    margin-left: auto;

    @include mq(md) {
      display: none;
    }
  }

  &__tel {
    margin-left: 2.2rem;

    @include mq(md) {
      display: none;
    }
  }

  &__nav {
    @include mq(md) {
      display: none;
    }
  }
}
